// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$ash-blue1: #566065;
$ash-blue2: #40474a;
$ash-blue3: #707d83;

// Override Bootstrap default state colors

$primary: $ash-blue2;
